BankEnricher/Service References/BankRules/RuleBaseWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rulebase.me.org/" targetNamespace="http://rulebase.me.org/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rules" type="tns:rules" />
  <xs:element name="rulesResponse" type="tns:rulesResponse" />
  <xs:complexType name="rules">
    <xs:sequence>
      <xs:element name="loanduration" type="xs:float" />
      <xs:element name="loanAmount" type="xs:float" />
      <xs:element name="creditScore" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rulesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>