SoapClient/Service References/ServiceReference1/LaurbaerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="laurbaer_namespace" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="laurbaer_namespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="laurbaer_namespace">
      <s:element name="SoapLoanRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="loanAmount" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="loanDuration" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SoapLoanRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SoapLoanRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SoapLoanRequestSoapIn">
    <wsdl:part name="parameters" element="tns:SoapLoanRequest" />
  </wsdl:message>
  <wsdl:message name="SoapLoanRequestSoapOut">
    <wsdl:part name="parameters" element="tns:SoapLoanRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="LaurbaerServiceSoap">
    <wsdl:operation name="SoapLoanRequest">
      <wsdl:input message="tns:SoapLoanRequestSoapIn" />
      <wsdl:output message="tns:SoapLoanRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LaurbaerServiceSoap" type="tns:LaurbaerServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SoapLoanRequest">
      <soap:operation soapAction="laurbaer_namespace/SoapLoanRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LaurbaerServiceSoap12" type="tns:LaurbaerServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SoapLoanRequest">
      <soap12:operation soapAction="laurbaer_namespace/SoapLoanRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LaurbaerService">
    <wsdl:port name="LaurbaerServiceSoap" binding="tns:LaurbaerServiceSoap">
      <soap:address location="http://localhost:26345/LaurbaerService.asmx" />
    </wsdl:port>
    <wsdl:port name="LaurbaerServiceSoap12" binding="tns:LaurbaerServiceSoap12">
      <soap12:address location="http://localhost:26345/LaurbaerService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>